.authentication__header {
  text-align: center;
}

.authentication  {
    text-align: center;
  width: 90%; 
   max-width: 35rem; 
   margin: 7rem auto!important;
}

.authentication form {
  margin-bottom: 1rem;
}

.auth-input-middle{
    text-align: left;
}